* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Figtree', sans-serif, serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);
    gap: 1rem;
}

main {
    max-width: 22rem;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px hsl(0, 0%, 7%);
    padding: 1.2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: hsl(0, 0%, 100%);
    
}

img {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
}

figure {
    display: flex;
    align-items: center;
}

figure > img {
    margin-right: 0.7rem;
    width: 2.6rem;
    height: auto;
}

.learning {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    width: fit-content;
    background-color: hsl(47, 88%, 63%);
}
h2, figcaption, .learning {
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.publish-date {
    font-weight: 500;
    color: (0, 0%, 7%);
}

.text {
    color: hsl(0, 0%, 42%);
}

footer { 
    font-size: 11px; 
    text-align: center;
}

footer a { 
    color: hsl(228, 45%, 44%); 
}